*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(155deg,#2a38fd,#a0ffde);
    padding: 10px;

}

.container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(167, 157, 157, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px rgb(100, 161, 207);
}

.title h2{
    color: #333;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(237, 229, 229);
    box-shadow:2px rgb(237, 229, 229);

}

.input-namebox input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;

}

.input-namebox input:focus{
    outline:none
}

.calculate-box h5{
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.calculate-box input[type='date']{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.calculate-box button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #54ffe8;
    margin-bottom: 10px;
    font-weight: bolder;
}

.calculate-box button:hover{
    background:linear-gradient(240deg,#5b66f9,#54ffe8) ;
}

#getname, #year{
    margin: 10px 0;
    color: #0e1574;
    
}

